*.iml
.gradle
/local.properties

# IntelliJ / Android Studio
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
/.idea/httpRequests/
/.idea/deploymentTargetSelector.xml

# Kotlin
.kotlin/

# Build
/build
**/build/

# Native
.externalNativeBuild
.cxx

# Captures
/captures

# macOS
.DS_Store


.idea/deviceManager.xml